<%= render 'pages/home' unless user_signed_in? %>

    <% @goals.each do |goal| %>
	    <div class="panel panel-default">
		    <div class="panel-heading">
		    	
			    	<h4> <%= goal.user.username if goal.user %> </h4>
				    	
			 </div>   
		    <div class="panel-body">
		    	<div class="col-md-10">

		        		<p class="goal_list">
		        			I'm going to
		        			<%= goal.description %> 
		        			<strong><%= goal.complete %></strong> 
		        			<%= goal.goal_type %> 
		        		</p>

		        		<% if goal.current != nil %>
		        		<div class="progress progress-striped">

					         <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow=<%= goal.current.to_i %> aria-valuemin="0" aria-valuemax=<%= goal.complete.to_i %> style="width: <%= (goal.current.to_f/goal.complete)*100 %>%">
					          <span class="center"><%= ((goal.current.to_f/goal.complete)*100).to_i %>% Complete</span>
					          </div>
					    </div>

					<% end %>

		       	</div>

		        <div class="col-md-2">

		 			<p class="label label-primary"> <%= distance_of_time_in_words(Time.now, goal.end_date, include_days = true) %>  left </p>
		        	
		        </div>

		        	
		    </div>

		        <div class="panel-footer">
		        	<% if goal.user == current_user %> 
					        	<p>
					        		<%= link_to 'Show', goal %> |
					        		<%= link_to 'Update', edit_goal_path(goal) %>
					        	</p>
				        <% end %>
		        </div>
		</div>

    <% end %>
    <% if user_signed_in? %>

    		
    			<%= link_to new_goal_path do %>
    				<button type="button" class="btn btn-primary btn-lg btn-block"> Create a Goal
    				</button>
				<% end %>

    <% end %>

<br>


