<%= render 'pages/home' unless user_signed_in? %>

    <% @goals.each do |goal| %>
	    <div class="panel panel-default">
		    <div class="panel-heading">
		    	
			    	<h4> <%= goal.user.username if goal.user %> </h4>
				    	
			 </div>   
		    <div class="panel-body">
		    	<div class="col-md-10">

		        		<p class="goal_list">
		        			I want to
		        			<%= goal.description %> 
		        			<strong><%= goal.complete %></strong> 
		        			<%= goal.goal_type %> 
		        			by
		        			<%= goal.end_date.to_date.to_formatted_s(:long) %>
		        		</p>

		       	</div>

		       	<div class="col-md-2">

		 			<p class="label label-primary"> <%= distance_of_time_in_words(Time.now, goal.end_date, include_days = true) %>  left </p>
		        	
		        </div>
		    </div>

		        <div class="panel-footer">
		        	<% if goal.user == current_user %> 
					        	<p>
					        		<%= link_to 'Show', goal %> |
					        		<%= link_to 'Update', edit_goal_path(goal) %>
					        	</p>
				        <% end %>
		        </div>
		</div>

    <% end %>
    <% if user_signed_in? %>

    		<button type="button" class="btn btn-default btn-lg btn-block">
    			<%= link_to "New Goal", new_goal_path %>
    		</button>

    <% end %>

<br>


