<%= render 'pages/home' unless user_signed_in? %>

    <div id="goals_index">
    	<% if user_signed_in? %>

	    		
	    			<%= link_to new_goal_path do %>
	    				<button type="button" class="btn btn-primary btn-lg btn-block">Create a Goal
	    				</button>
	    				<br>
					<% end %>
				
	    <% end %>

    <% @goals.each do |goal| %>
    	
	    <div class="panel panel-default">
		     <div class="col-md-2 col-sm-2 col-xs-12 icon">
		     
		    		<p> <%= goal.user.username if goal.user %> </p>

		     </div>

		    <div class="panel-header">

		    		<p> <%= goal.user.username if goal.user %> </p>

	    	</div>
		    <div class="panel-body">
		    	
		    		
		    	


	    		<div class="col-md-10 col-sm-10 col-xs-10">
		        		<p class="goal_list">
		        			<%= goal.description %> 
		        			<strong><%= goal.complete %></strong> 
		        			<%= goal.goal_type %> 
		        		</p>

		        	<% if goal.current != nil && goal.current >= 0.0  %>
		        		<p> Progress: <%= goal.current.to_i %> / <%= goal.complete %> <%= goal.goal_type %> </p>
		        		<div class="progress progress-striped">

					         <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow=<%= goal.current.to_f %> aria-valuemin="0" aria-valuemax=<%= goal.complete.to_i %> style="width: <%= (goal.current/goal.complete)*100 %>%">
					          <span class="center"><%= ((goal.current/goal.complete)*100).to_i %>% Complete</span>
					          </div>
					    </div>

					<% end %>

		       	</div>

		    
		    	<% if goal.user == current_user %>

						 <div class="col-md-12 col-sm-12 col-xs-12">
							  <%= link_to edit_goal_path(goal) do %>
								  <button type="button" class="btn btn-block btn-info"> 
								  Update </button>
							  <% end %>
						  </div>

						     
			        
		        <% end %> 

		        </div>
		</div>

    <% end %>
	    
    </div>


