<p id="notice"><%= notice %></p>
<div class="jumbotron center">
<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Current:</strong>
  <%= @goal.current %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @goal.complete %>
</p>
<p>
  <strong>Type:</strong>
  <%= @goal.type %>
</p>  

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>

</div>